@import "tailwindcss";
@plugin "daisyui";


@keyframes vibrate {
  0% { transform: translate(0); }
  20% { transform: translate(-1px, 1px); }
  40% { transform: translate(-1px, -1px); }
  60% { transform: translate(1px, 1px); }
  80% { transform: translate(1px, -1px); }
  100% { transform: translate(0); }
}

.vibrate:hover {
  animation: vibrate 0.15s linear infinite;
}


:root {
    color-scheme: light dark;
}

html {
    background-color: white;
    color: rgb(0, 0, 0);
}

html.dark {
    background-color: #212121;
    color: white;
}

html.light {
    background-color: white;
    color: black;
}

body {

 font-family: 'Nunito', sans-serif;
}